In [1]:
import pandas as pd
import os, sys
mlibpath = '/home/fra/Project/pyProj/mlib'
sys.path.append(mlibpath)

In [2]:
import explore as ex

In [3]:
from varprofile import Profiler

In [4]:
data_file = "/home/fra/Project/pyProj/mlib/data/data.csv"

df = pd.read_csv(data_file, na_values=['?'])
df.head()

,GCIS_KEY,PERIOD_ID,TARGET_F,MBNCZZ_CUST_INIT_TRAN_COUNT,MBNCZZ_CUR_OTH_DEP_AMT,CINCZZ_EXPLICIT_INCOME,MBNCZZ_CUR_SAL_CREDIT_AMT,MBNCZZ_ABS_SPOT_AMT,CPNCZZ_MFI_TRAN_COUNT,CUNCZZ_AGE_YEARS,...,CPBCZZ_ACCT_CLOSE_IND,MBNHMI_AVG_OTH_DEP_AMT,MBBHMI_EVERYDAY_BANKER_IND,TRNHDL_AVG_DEPOSIT_AMT,MBOHDL_QUALITY_DEP_IND,CONHDL_SECURITY_AMT,CFNHDL_CURRENT_LVR,MBNHIC_AVG_CUST_INIT_TRAN_C,CMNHDL_FULL_FI_AMT,TRNHSL_TOT_WITHDRAWAL_CNT
0,40554726,201805,0,41,380.00,3855.06,9272.93,14156.20,41,68,...,0,197.83,1,-154.18,0,0,0.0,40.83,-2.68,-2.91
1,91914018,201806,0,45,492.15,3174.62,11111.17,1935.03,45,58,...,0,818.96,1,-413.56,0,0,0.0,38.84,7.23,1.91
2,52451704,201807,0,106,0.00,0.00,1442.01,21127.10,106,40,...,0,192.70,1,-124.93,0,0,0.0,40.53,289.63,13.49
3,52296646,201807,0,121,2129.78,2107.72,11676.53,1748.23,118,47,...,0,1203.33,1,-212.11,0,0,0.0,72.17,10.20,9.17
4,55713846,201806,1,19,156.00,346.78,2901.22,151.83,19,42,...,0,20.00,1,-787.75,0,0,0.0,30.99,2.66,-9.34

In [6]:
profiler = Profiler(df, 'TARGET_F')

In [7]:
profiler.count_unique_values()

{'GCIS_KEY': 2000,
 'PERIOD_ID': 5,
 'TARGET_F': 2,
 'MBNCZZ_CUST_INIT_TRAN_COUNT': 222,
 'MBNCZZ_CUR_OTH_DEP_AMT': 1444,
 'CINCZZ_EXPLICIT_INCOME': 876,
 'MBNCZZ_CUR_SAL_CREDIT_AMT': 923,
 'MBNCZZ_ABS_SPOT_AMT': 1988,
 'CPNCZZ_MFI_TRAN_COUNT': 223,
 'CUNCZZ_AGE_YEARS': 95,
 'CPNCZZ_REL_AGE_IN_MTH': 456,
 'MBNCZZ_DEP_SPOT_BAL_AMT': 1892,
 'CFNCZZ_ACC_TO_FUNDS': 1952,
 'CPBCZZ_ACCT_CLOSE_IND': 2,
 'MBNHMI_AVG_OTH_DEP_AMT': 1412,
 'MBBHMI_EVERYDAY_BANKER_IND': 2,
 'TRNHDL_AVG_DEPOSIT_AMT': 1850,
 'MBOHDL_QUALITY_DEP_IND': 3,
 'CONHDL_SECURITY_AMT': 111,
 'CFNHDL_CURRENT_LVR': 97,
 'MBNHIC_AVG_CUST_INIT_TRAN_C': 1728,
 'CMNHDL_FULL_FI_AMT': 1325,
 'TRNHSL_TOT_WITHDRAWAL_CNT': 618}

In [8]:
profiler.get_categorical_column()

['TARGET_F',
 'CPBCZZ_ACCT_CLOSE_IND',
 'MBOHDL_QUALITY_DEP_IND',
 'MBBHMI_EVERYDAY_BANKER_IND',
 'PERIOD_ID']

In [9]:
profiler.iv_ranking()

ERROR: skipping PERIOD_ID
ERROR: skipping MBOHDL_QUALITY_DEP_IND

                                   iv
MBBHMI_EVERYDAY_BANKER_IND   0.582583
CINCZZ_EXPLICIT_INCOME       0.570485
MBNCZZ_CUR_SAL_CREDIT_AMT    0.517526
MBNCZZ_CUST_INIT_TRAN_COUNT  0.284082
CPNCZZ_MFI_TRAN_COUNT        0.281876
MBNHIC_AVG_CUST_INIT_TRAN_C  0.275594
TRNHDL_AVG_DEPOSIT_AMT       0.212554
CPNCZZ_REL_AGE_IN_MTH        0.196881
MBNCZZ_DEP_SPOT_BAL_AMT      0.161691
MBNCZZ_ABS_SPOT_AMT          0.150209
CFNCZZ_ACC_TO_FUNDS          0.131770
MBNCZZ_CUR_OTH_DEP_AMT       0.129537
GCIS_KEY                     0.123922
CUNCZZ_AGE_YEARS             0.109913
CMNHDL_FULL_FI_AMT           0.074914
MBNHMI_AVG_OTH_DEP_AMT       0.072481
CPBCZZ_ACCT_CLOSE_IND        0.060232
TRNHSL_TOT_WITHDRAWAL_CNT    0.046704
CFNHDL_CURRENT_LVR           0.044024
CONHDL_SECURITY_AMT          0.005217
PERIOD_ID                    0.000000
MBOHDL_QUALITY_DEP_IND       0.000000

In [10]:
df.dtypes

GCIS_KEY                         int64
PERIOD_ID                        int64
TARGET_F                         int64
MBNCZZ_CUST_INIT_TRAN_COUNT      int64
MBNCZZ_CUR_OTH_DEP_AMT         float64
CINCZZ_EXPLICIT_INCOME         float64
MBNCZZ_CUR_SAL_CREDIT_AMT      float64
MBNCZZ_ABS_SPOT_AMT            float64
CPNCZZ_MFI_TRAN_COUNT            int64
CUNCZZ_AGE_YEARS                 int64
CPNCZZ_REL_AGE_IN_MTH            int64
MBNCZZ_DEP_SPOT_BAL_AMT        float64
CFNCZZ_ACC_TO_FUNDS            float64
CPBCZZ_ACCT_CLOSE_IND            int64
MBNHMI_AVG_OTH_DEP_AMT         float64
MBBHMI_EVERYDAY_BANKER_IND       int64
TRNHDL_AVG_DEPOSIT_AMT         float64
MBOHDL_QUALITY_DEP_IND           int64
CONHDL_SECURITY_AMT              int64
CFNHDL_CURRENT_LVR             float64
MBNHIC_AVG_CUST_INIT_TRAN_C    float64
CMNHDL_FULL_FI_AMT             float64
TRNHSL_TOT_WITHDRAWAL_CNT      float64
dtype: object

In [11]:
ex.count_missing(df)

{'GCIS_KEY': 0,
 'PERIOD_ID': 0,
 'TARGET_F': 0,
 'MBNCZZ_CUST_INIT_TRAN_COUNT': 0,
 'MBNCZZ_CUR_OTH_DEP_AMT': 0,
 'CINCZZ_EXPLICIT_INCOME': 0,
 'MBNCZZ_CUR_SAL_CREDIT_AMT': 0,
 'MBNCZZ_ABS_SPOT_AMT': 0,
 'CPNCZZ_MFI_TRAN_COUNT': 0,
 'CUNCZZ_AGE_YEARS': 0,
 'CPNCZZ_REL_AGE_IN_MTH': 0,
 'MBNCZZ_DEP_SPOT_BAL_AMT': 0,
 'CFNCZZ_ACC_TO_FUNDS': 0,
 'CPBCZZ_ACCT_CLOSE_IND': 0,
 'MBNHMI_AVG_OTH_DEP_AMT': 0,
 'MBBHMI_EVERYDAY_BANKER_IND': 0,
 'TRNHDL_AVG_DEPOSIT_AMT': 0,
 'MBOHDL_QUALITY_DEP_IND': 0,
 'CONHDL_SECURITY_AMT': 0,
 'CFNHDL_CURRENT_LVR': 0,
 'MBNHIC_AVG_CUST_INIT_TRAN_C': 13,
 'CMNHDL_FULL_FI_AMT': 0,
 'TRNHSL_TOT_WITHDRAWAL_CNT': 13}

### Non categorical profile

In [13]:
colname = 'MBNCZZ_CUR_SAL_CREDIT_AMT'

In [14]:
profiler.get_woe(colname, categorical=False)

GRP_0    0.565796
GRP_1   -0.567130
GRP_2   -0.700885
GRP_3   -1.042118
GRP_4   -1.325330
Name: 1, dtype: float64

In [15]:
profiler.get_crosstab(colname, categorical=False)

          GRP_0  GRP_1  GRP_2  GRP_3  GRP_4
TARGET_F
0           443    129    135    149    159
1           757     71     65     51     41

In [16]:
profiler.get_iv(colname, categorical=False)

0.517526291517165

In [18]:
profiler.get_distribution(colname, categorical=False)

(GRP_0    0.768528
 GRP_1    0.072081
 GRP_2    0.065990
 GRP_3    0.051777
 GRP_4    0.041624
 Name: 1, dtype: float64,
 GRP_0    0.436453
 GRP_1    0.127094
 GRP_2    0.133005
 GRP_3    0.146798
 GRP_4    0.156650
 Name: 0, dtype: float64)

In [19]:
profiler.num_target_class

2

### Categorical profile

In [20]:
colname = 'MBBHMI_EVERYDAY_BANKER_IND'

In [21]:
profiler.get_woe(colname, categorical=True)

MBBHMI_EVERYDAY_BANKER_IND
0    1.348855
1   -0.453424
Name: 1, dtype: float64

In [22]:
profiler.get_crosstab(colname, categorical=True)

MBBHMI_EVERYDAY_BANKER_IND    0    1
TARGET_F
0                           115  900
1                           430  555

In [23]:
profiler.get_iv(colname, categorical=True)

0.5825828328485454

In [24]:
profiler.get_distribution(colname, categorical=True)

(MBBHMI_EVERYDAY_BANKER_IND
 0    0.436548
 1    0.563452
 Name: 1, dtype: float64,
 MBBHMI_EVERYDAY_BANKER_IND
 0    0.1133
 1    0.8867
 Name: 0, dtype: float64)

### Multiclass

In [25]:
data_file = "/home/fra/Project/pyProj/mlib/data/abalone.csv"

sdf = pd.read_csv(data_file)
sdf.head()

,sex,length,diameter,height,whole_wt,shucked_wt,viscera_wt,shell_wt,rings
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.150,15
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,7
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,9
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,10
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055,7

In [33]:
abalone_profiler = Profiler(sdf, 'sex', num_bins=5)

In [34]:
abalone_profiler.count_unique_values()

{'sex': 3,
 'length': 134,
 'diameter': 111,
 'height': 51,
 'whole_wt': 2429,
 'shucked_wt': 1515,
 'viscera_wt': 880,
 'shell_wt': 926,
 'rings': 28}

In [35]:
abalone_profiler.get_categorical_column()

['sex']

In [36]:
abalone_profiler.iv_ranking()

                  iv
viscera_wt  1.564450
whole_wt    1.552015
shell_wt    1.493847
diameter    1.420521
shucked_wt  1.327561
length      1.301804
height      1.301370
rings       0.974642

In [37]:
colname = 'shell_wt'

In [38]:
abalone_profiler.get_distribution(colname, categorical=False)

(        GRP_0     GRP_1     GRP_2     GRP_3     GRP_4
 sex
 F    0.039021  0.151492  0.223412  0.270849  0.315226
 I    0.480626  0.301788  0.155738  0.047690  0.014158
 M    0.091623  0.152487  0.232330  0.258508  0.265052,
 GRP_0    0.200144
 GRP_1    0.200144
 GRP_2    0.204932
 GRP_3    0.194637
 GRP_4    0.200144
 dtype: float64)

In [39]:
abalone_profiler.get_crosstab(colname, categorical=False)

     GRP_0  GRP_1  GRP_2  GRP_3  GRP_4
sex
F       51    198    292    354    412
I      645    405    209     64     19
M      140    233    355    395    405

In [40]:
abalone_profiler.get_woe(colname, categorical=False)

        GRP_0     GRP_1     GRP_2     GRP_3     GRP_4
sex
F   -1.634944 -0.278503  0.086342  0.330425  0.454254
I    0.876054  0.410691 -0.274504 -1.406416 -2.648757
M   -0.781353 -0.271957  0.125481  0.283788  0.280892

In [41]:
abalone_profiler.get_iv(colname, categorical=False)

1.4938465530448188