In [3]:
import pandas as pd
import sys
mylib = '/home/fra/Project/pyProj/mlib'

In [4]:
sys.path.append(mylib)

In [1]:
data_folder = "/home/fra/DataMart/datacentre/olddata/"
train_filename = 'ccbt_train.csv'

In [6]:
df = pd.read_csv(data_folder + train_filename)
df.head()

,target_f,GCIS_KEY,DATA_DT,CUNCZZ_AGE_YEARS,CUBCZZ_PERSONAL_CUST_IND,CUBCZZ_ALLOW_ADVERT_MAIL,CUBCZZ_ALLOW_PHONE_CONTACT,CUBCZZ_REL_MGT_IND,CUNCZZ_CUST_TENURE,CUCCZZ_CUST_GENDER,...,AFBCZZ_LOAN_OFFSET_IND,AFBCZZ_TD_IND,AFNCZZ_TD_BAL_AMT,AFBCZZ_TD_MATURE_IN_1M,AFBCZZ_TD_MATURE_IN_3M,AFBCZZ_TD_MATURE_IN_6M,AFBCZZ_FR_LOAN_MATURE_IN_3M,AFBCZZ_FR_LOAN_MATURE_IN_6M,AFBCZZ_FR_LOAN_MATURE_IN_12M,PROCESS_DTTM
0,0,55349465,31/10/2017,0,0,0,0,1,1.0,,...,0,0,0.0,0,0,0,0,0,0,27:01.4
1,1,55510132,30/11/2017,33,1,0,0,0,1.0,F,...,1,0,0.0,0,0,0,0,0,0,37:10.8
2,0,50260882,30/11/2017,58,1,0,0,0,18.0,F,...,0,0,0.0,0,0,0,0,0,0,37:10.8
3,0,52934020,31/07/2017,46,1,1,1,0,9.0,F,...,0,0,0.0,0,0,0,0,0,0,07:09.2
4,0,54700818,31/05/2018,0,0,0,0,1,4.0,,...,0,0,0.0,0,0,0,0,0,1,07:24.8

In [30]:
df.shape

(40675, 365)

In [18]:
import utility as util
import explore as ex
import pipeline as pl
import transform as trf

In [9]:
ex.summary(df)

,unique_values,num_missing,numerical,categorical,binary
target_f,2,0,False,False,True
GCIS_KEY,40675,0,True,False,False
DATA_DT,11,0,False,True,False
CUNCZZ_AGE_YEARS,98,0,True,False,False
CUBCZZ_PERSONAL_CUST_IND,2,0,False,False,True
...,...,...,...,...,...
AFBCZZ_TD_MATURE_IN_6M,2,0,False,False,True
AFBCZZ_FR_LOAN_MATURE_IN_3M,2,0,False,False,True
AFBCZZ_FR_LOAN_MATURE_IN_6M,2,0,False,False,True
AFBCZZ_FR_LOAN_MATURE_IN_12M,2,0,False,False,True
PROCESS_DTTM,11,0,False,True,False

In [22]:
target_col = 'TARGET_F'

In [19]:
from imp import reload
reload(pl)
reload(trf)

In [25]:
reload(pl)

In [26]:
(X, y, features) = pl.preprocessing(df, target_col=target_col, exclusions=['DATA_DT', 'PROCESS_DTTM', 'GCIS_KEY'])

/home/fra/Project/pyProj/pyml/pymlenv/lib/python3.6/site-packages/sklearn/preprocessing/_label.py:235: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/home/fra/Project/pyProj/pyml/pymlenv/lib/python3.6/site-packages/sklearn/preprocessing/_label.py:268: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [27]:
X.shape, y.shape

((40675, 2763), (40675,))

In [28]:
features

Index(['TRNCZZ_TOT_TRAN_AMT', 'MBNCZZ_TD_SPOT_BAL_AMT', 'CFNCZZ_ORIG_LVR',
       'CUNCZZ_CUST_TENURE', 'CPNCZZ_CCARD_AVG_WAB_AMT', 'TRNCZZ_AVG_TRAN_AMT',
       'CPNCZZ_LOAN_TO_BORROWED_RATIO', 'CBNCZZ_EF_LIMIT_OFFER_AMT',
       'CBNCZZ_WORST_DELQ_STATUS', 'CBNCZZ_BUS_EXPOSURE_AMT',
       ...
       'CUCCZZ_OCCUPATION_CODE_8300', 'CUCCZZ_OCCUPATION_CODE_8310',
       'CBCCZZ_CC_PA_NPA_OFFER_1-PA', 'CBCCZZ_CC_PA_NPA_OFFER_2-NPA',
       'CBCCZZ_CC_PA_NPA_OFFER_3-Oth', 'CBCCZZ_CC_PA_NPA_OFFER_Unknown',
       'CBNCZZ_MERCHANT_FACILITY_BAL_0.0',
       'CBNCZZ_MERCHANT_FACILITY_BAL_Unknown', 'CBNCZZ_LENDING_BAL_AMT_0.0',
       'CBNCZZ_LENDING_BAL_AMT_Unknown'],
      dtype='object', length=2763)

### Modelling

In [31]:
# split train / test
from sklearn.model_selection import train_test_split
# features = df.columns
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [32]:
import xgboost as xgb
model = xgb.XGBClassifier().fit(X_train, y_train)

In [29]:
# TODO: get top features

In [33]:
def print_model_performance(model, X_test, y_test):
    predictions = model.predict(X_test)
    pred_prob = model.predict_proba(X_test)

    print("Accuracy: %f" % accuracy_score(y_test, predictions))
    print("Confustion Matrix: ")
    print(confusion_matrix(y_true=y_test, y_pred=predictions))
    print("AUC Score: %f" % roc_auc_score(y_test, pred_prob[:,1]))
    print("GINI Coefficient: %f" % (roc_auc_score(y_test, pred_prob[:,1])*2-1))

In [36]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import roc_auc_score
from sklearn.metrics import roc_curve
from sklearn.metrics import confusion_matrix

In [38]:
print_model_performance(model, X_test, y_test)

Accuracy: 0.666885
Confustion Matrix:
[[4356 2010]
 [2055 3782]]
AUC Score: 0.731727
GINI Coefficient: 0.463454

### Model package