In [1]:
import os, sys
import pandas as pd

In [2]:
data_file = "adult_train.csv"
folder = "/home/fra/DataMart/datacentre/olddata/"
df = pd.read_csv(folder+data_file)
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [3]:
import pandas as pd
import sys
mylib = '/home/fra/Project/pyProj/mlib'

In [4]:
sys.path.append(mylib)

In [5]:
import varprofile as vp

In [6]:
mapping = {" <=50K": 0, " >50K": 1}

In [7]:
df.income = df.income.map(lambda x : mapping[x])

### Profile

In [8]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,0
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,0
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,0
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,0
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,0

In [10]:
pr = vp.Profiler(df, 'income')

In [11]:
(targetDist, altDist)  =pr.get_profile('workclass', categorical=True)

In [12]:
targetDist

workclass
 ?                   0.024359
 Federal-gov         0.047315
 Local-gov           0.078689
 Never-worked        0.000000
 Private             0.632955
 Self-emp-inc        0.079327
 Self-emp-not-inc    0.092335
 State-gov           0.045020
 Without-pay         0.000000
Name: 1, dtype: float64

In [13]:
altDist

workclass
 ?                   0.066545
 Federal-gov         0.023827
 Local-gov           0.059709
 Never-worked        0.000283
 Private             0.717354
 Self-emp-inc        0.019984
 Self-emp-not-inc    0.073503
 State-gov           0.038228
 Without-pay         0.000566
Name: 0, dtype: float64

In [14]:
pr.get_woe('workclass', categorical=True)

/home/fra/Project/pyProj/mlib/varprofile.py:94: RuntimeWarning: divide by zero encountered in log
  likelihood = np.log(targetDst.iloc[k] / altDst[k])

workclass
 ?                  -1.004976
 Federal-gov         0.686022
 Local-gov           0.276024
 Never-worked        0.000000
 Private            -0.125171
 Self-emp-inc        1.378651
 Self-emp-not-inc    0.228096
 State-gov           0.163529
 Without-pay         0.000000
Name: 1, dtype: float64

In [15]:
pr.iv_ranking()

                      iv
relationship    1.535608
marital-status  1.338829
age             1.070780
occupation      0.776228
education       0.738533
education-num   0.699397
hours-per-week  0.449651
sex             0.303289
workclass       0.161532
native-country  0.077957
race            0.069300
fnlwgt          0.007671
capital-gain    0.000000
capital-loss    0.000000

In [16]:
pr.get_woe(colname='relationship', categorical=True)

relationship
 Husband           0.941801
 Not-in-family    -1.015318
 Other-relative   -2.090962
 Own-child        -3.164454
 Unmarried        -1.546877
 Wife              1.048674
Name: 1, dtype: float64

In [17]:
pr.get_woe(colname='sex', categorical=True)

sex
 Female   -0.948017
 Male      0.328119
Name: 1, dtype: float64

In [18]:
from category_encoders.woe import WOEEncoder

In [19]:
y = df.income

In [20]:
df.shape

(32561, 15)

In [21]:
X= df.iloc[:,:14]

In [22]:
result = WOEEncoder().fit_transform(X, y)

In [23]:
result.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country
0,39,0.165126,77516,0.803851,13,-1.882906,-0.712155,-1.014459,0.080565,0.328029,2174,0,40,0.027214
1,50,0.228752,83311,0.803851,13,0.934688,1.084137,0.941658,0.080565,0.328029,0,0,13,0.027214
2,38,-0.125200,215646,-0.513333,9,-1.001332,-1.544534,-1.014459,0.080565,0.328029,0,0,40,0.027214
3,53,-0.125200,234721,-1.758560,7,0.934688,-1.544534,0.941658,-0.805906,0.328029,0,0,40,0.027214
4,28,-0.125200,338409,0.803851,13,0.934688,0.943596,1.048627,-0.805906,-0.947447,0,0,40,0.143489

In [24]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,0
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,0
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,0
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,0
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,0

### Multiclass

In [25]:
from imp import reload

In [26]:
reload(vp)

In [27]:
import explore as ex

In [28]:
df = pd.read_csv(folder+data_file)
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [29]:
ex.count_levels(df, 'relationship')

{'relationship': [(' Husband', 13193),
  (' Not-in-family', 8305),
  (' Other-relative', 981),
  (' Own-child', 5068),
  (' Unmarried', 3446),
  (' Wife', 1568)]}

In [30]:
mapping = {' Husband': 0, ' Not-in-family': 1, ' Other-relative': 2,
  ' Own-child': 3,
  ' Private': 4,
  ' Unmarried': 5,
  ' Wife': 6}

In [31]:
df.relationship = df.relationship.map(lambda x : mapping[x])

In [32]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,1,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,0,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,1,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,0,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,6,Black,Female,0,0,40,Cuba,<=50K

In [33]:
reload(vp)

In [34]:
pr = vp.Profiler(df, 'relationship')

In [35]:
(targetDst, altDst) = pr.get_profile('workclass', categorical=True)

### woe for multiclass

In [36]:
pr.get_woe('workclass', categorical=True)

/home/fra/Project/pyProj/pyml/pymlenv/lib/python3.6/site-packages/pandas/core/series.py:679: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

workclass,?,Federal-gov,Local-gov,Never-worked,Private,Self-emp-inc,Self-emp-not-inc,State-gov,Without-pay
relationship,,,,,,,,,
0,-0.419553,0.097953,0.012844,0.000000,-0.070259,0.552880,0.403951,-0.026826,-0.349334
1,-0.064588,0.130536,-0.022429,-0.579653,0.036828,-0.527285,-0.227949,0.121933,0.000000
2,0.130088,-0.320113,-0.382856,0.000000,0.123926,-1.435767,-0.425992,-0.575239,0.000000
3,0.632683,-0.847881,-0.415547,1.523697,0.090459,-1.131985,-0.936719,-0.214661,0.830550
5,-0.104657,0.215250,0.303330,0.000000,0.031164,-0.839779,-0.550987,0.146225,0.299991
6,0.400772,-0.120047,0.423913,1.087404,-0.089875,-0.134044,0.005186,0.084242,1.492869

In [37]:
(woe, targetDst, altDst) = pr.get_woe('workclass', categorical=True, distOut=True)

/home/fra/Project/pyProj/pyml/pymlenv/lib/python3.6/site-packages/pandas/core/series.py:679: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

In [38]:
targetDst

workclass,?,Federal-gov,Local-gov,Never-worked,Private,Self-emp-inc,Self-emp-not-inc,State-gov,Without-pay
relationship,,,,,,,,,
0,0.037065,0.032517,0.065110,0.000000,0.649738,0.059577,0.116880,0.038808,0.000303
1,0.052860,0.033594,0.062854,0.000120,0.723179,0.020229,0.062131,0.045033,0.000000
2,0.064220,0.021407,0.043833,0.000000,0.788991,0.008155,0.050968,0.022426,0.000000
3,0.106156,0.012628,0.042423,0.000987,0.763023,0.011050,0.030584,0.032163,0.000987
5,0.050784,0.036564,0.087057,0.000000,0.719095,0.014800,0.044980,0.046140,0.000580
6,0.084184,0.026148,0.098214,0.000638,0.637117,0.029974,0.078444,0.043367,0.001913

In [39]:
altDst

workclass
 ?                   0.056386
 Federal-gov         0.029483
 Local-gov           0.064279
 Never-worked        0.000215
 Private             0.697030
 Self-emp-inc        0.034274
 Self-emp-not-inc    0.078038
 State-gov           0.039864
 Without-pay         0.000430
dtype: float64

In [40]:
ismulti = len(targetDst.shape) == 2
num_bins = len(altDst)

In [41]:
ismulti, num_bins

(True, 9)

In [42]:
targetDst.shape

(6, 9)

In [43]:
pr.get_iv('workclass', categorical=True)

/home/fra/Project/pyProj/pyml/pymlenv/lib/python3.6/site-packages/pandas/core/series.py:679: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

0.3518189863820896

In [44]:
pr.iv_ranking()

                      iv
sex             8.846599
marital-status  7.062984
age             2.599532
income          2.000743
occupation      1.438586
hours-per-week  0.858294
education       0.737466
education-num   0.595660
native-country  0.431832
workclass       0.351819
race            0.320375
fnlwgt          0.079964
capital-gain    0.000000
capital-loss    0.000000

### WOe encoder source code

In [48]:
y=df.relationship

In [49]:
y.groupby(X['sex']).agg(['sum', 'count'])

           sum  count
sex
 Female  34136  10771
 Male    17973  21790

In [53]:
y =df.income

In [54]:
y.groupby(X['sex']).agg(['sum', 'count'])

                                                       sum  count
sex
 Female   <=50K <=50K <=50K >50K <=50K >50K <=50K <=50K...  10771
 Male     <=50K <=50K <=50K <=50K >50K >50K >50K >50K <...  21790