In [1]:
import os, sys
import pandas as pd

In [2]:
sys.path.append('..')

In [3]:
data_file = "abalone.csv"
df = pd.read_csv("../data/"+data_file)
df.head()

,sex,length,diameter,height,whole_wt,shucked_wt,viscera_wt,shell_wt,rings
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.150,15
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,7
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,9
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,10
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055,7

In [37]:
from imp import reload

In [4]:
import categorize as ct

In [38]:
reload(ct)

In [48]:
categorize = ct.Categorizer(df, 'SEX')

In [40]:
categorize.count_unique_values()

{'SEX': 3,
 'LENGTH': 134,
 'DIAMETER': 111,
 'HEIGHT': 51,
 'WHOLE_WT': 2429,
 'SHUCKED_WT': 1515,
 'VISCERA_WT': 880,
 'SHELL_WT': 926,
 'RINGS': 28}

In [41]:
categorize.count_unique_values(subset='SEX')

{'SEX': 3}

In [42]:
categorize.count_unique_values(subset=['SEX','LENGTH'])

{'SEX': 3, 'LENGTH': 134}

In [29]:
categorize.df

,SEX,LENGTH,DIAMETER,HEIGHT,WHOLE_WT,SHUCKED_WT,VISCERA_WT,SHELL_WT,RINGS
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.1500,15
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.0700,7
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.2100,9
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.1550,10
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.0550,7
...,...,...,...,...,...,...,...,...,...
4172,F,0.565,0.450,0.165,0.8870,0.3700,0.2390,0.2490,11
4173,M,0.590,0.440,0.135,0.9660,0.4390,0.2145,0.2605,10
4174,M,0.600,0.475,0.205,1.1760,0.5255,0.2875,0.3080,9
4175,F,0.625,0.485,0.150,1.0945,0.5310,0.2610,0.2960,10
4176,M,0.710,0.555,0.195,1.9485,0.9455,0.3765,0.4950,12

In [43]:
categorize.df.columns

Index(['SEX', 'LENGTH', 'DIAMETER', 'HEIGHT', 'WHOLE_WT', 'SHUCKED_WT',
       'VISCERA_WT', 'SHELL_WT', 'RINGS'],
      dtype='object')

In [44]:
categorize.get_crosstab('RINGS')

     lower  low  mid  high  higher
SEX
F       64  360  248   328     307
I      648  447   92    83      72
M      127  450  294   343     314

In [45]:
categorize.get_crosstab('SEX', categorical=True)

SEX     F     I     M
SEX
F    1307     0     0
I       0  1342     0
M       0     0  1528

In [64]:
reload(ct)
categorize = ct.Categorizer(df, 'SEX')

In [60]:
categorize.get_categorical_column()

['SEX']

In [61]:
categorize.get_non_numerical_column()

['SEX']

In [62]:
categorize.get_df_column_type()

{'binary': [],
 'categorical': ['SEX'],
 'numerical': ['VISCERA_WT',
  'WHOLE_WT',
  'SHUCKED_WT',
  'DIAMETER',
  'HEIGHT',
  'RINGS',
  'LENGTH',
  'SHELL_WT']}

In [56]:
categorize.get_likelihood('RINGS')

          lower       low       mid      high    higher
RINGS  1.403948  0.106838 -0.548341 -0.657375 -0.676621

In [57]:
categorize.get_likelihood('DIAMETER')

             lower       low       mid      high    higher
DIAMETER  1.301028  0.480344 -0.185638 -0.748053 -0.948716

In [65]:
categorize.categorize()

,SEX,LENGTH,DIAMETER,HEIGHT,WHOLE_WT,SHUCKED_WT,VISCERA_WT,SHELL_WT,RINGS
0,M,low,low,lower,low,low,low,low,higher
1,M,lower,lower,lower,lower,lower,lower,lower,lower
2,F,mid,mid,mid,mid,low,mid,mid,low
3,M,low,low,low,low,low,low,low,mid
4,I,lower,lower,lower,lower,lower,lower,lower,lower
...,...,...,...,...,...,...,...,...,...
4172,F,mid,mid,high,mid,mid,high,mid,high
4173,M,high,mid,mid,high,high,high,mid,mid
4174,M,high,high,higher,high,high,higher,high,low
4175,F,high,high,mid,high,high,high,high,mid
4176,M,higher,higher,higher,higher,higher,higher,higher,high

In [67]:
categorize.get_crosstab('WHOLE_WT', categorical=False)

     lower  low  mid  high  higher
SEX
F       58  198  274   372     405
I      635  423  213    55      16
M      144  213  350   406     415

In [88]:
reload(ct)
categorize = ct.Categorizer(df, 'SEX')

In [89]:
results = categorize.crosstab_all()

In [90]:
results

defaultdict(None,
            {'VISCERA_WT': '{"lower":{"F":55,"I":639,"M":146},"low":{"F":195,"I":429,"M":212},"mid":{"F":286,"I":197,"M":351},"high":{"F":359,"I":62,"M":413},"higher":{"F":412,"I":15,"M":406}}',
             'WHOLE_WT': '{"lower":{"F":58,"I":635,"M":144},"low":{"F":198,"I":423,"M":213},"mid":{"F":274,"I":213,"M":350},"high":{"F":372,"I":55,"M":406},"higher":{"F":405,"I":16,"M":415}}',
             'SHUCKED_WT': '{"lower":{"F":73,"I":609,"M":156},"low":{"F":205,"I":411,"M":222},"mid":{"F":278,"I":233,"M":319},"high":{"F":366,"I":69,"M":400},"higher":{"F":385,"I":20,"M":431}}',
             'DIAMETER': '{"lower":{"F":69,"I":638,"M":156},"low":{"F":196,"I":390,"M":234},"mid":{"F":308,"I":236,"M":358},"high":{"F":341,"I":65,"M":397},"higher":{"F":393,"I":13,"M":383}}',
             'HEIGHT': '{"lower":{"F":62,"I":664,"M":162},"low":{"F":197,"I":368,"M":243},"mid":{"F":298,"I":215,"M":345},"high":{"F":445,"I":74,"M":467},"higher":{"F":305,"I":21,"M":311}}',
             'RINGS': '{"lower":{"F":64,"I":648,"M":127},"low":{"F":360,"I":447,"M":450},"mid":{"F":248,"I":92,"M":294},"high":{"F":328,"I":83,"M":343},"higher":{"F":307,"I":72,"M":314}}',
             'LENGTH': '{"lower":{"F":69,"I":624,"M":160},"low":{"F":212,"I":385,"M":244},"mid":{"F":293,"I":245,"M":349},"high":{"F":329,"I":69,"M":368},"higher":{"F":404,"I":19,"M":407}}',
             'SHELL_WT': '{"lower":{"F":51,"I":645,"M":140},"low":{"F":198,"I":405,"M":233},"mid":{"F":292,"I":209,"M":355},"high":{"F":354,"I":64,"M":395},"higher":{"F":412,"I":19,"M":405}}'})

In [91]:
results.keys()

dict_keys(['VISCERA_WT', 'WHOLE_WT', 'SHUCKED_WT', 'DIAMETER', 'HEIGHT', 'RINGS', 'LENGTH', 'SHELL_WT'])

In [92]:
results['WHOLE_WT']

'{"lower":{"F":58,"I":635,"M":144},"low":{"F":198,"I":423,"M":213},"mid":{"F":274,"I":213,"M":350},"high":{"F":372,"I":55,"M":406},"higher":{"F":405,"I":16,"M":415}}'

In [93]:
pd.read_json(results['WHOLE_WT'])

   lower  low  mid  high  higher
F     58  198  274   372     405
I    635  423  213    55      16
M    144  213  350   406     415

### DEBUG